<div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Total order</h5>
        </div>
           <div class="card-body">
            {{total_order}}
           
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Order delivered</h5>
        </div>
        <div class="card-body">
          {{deliverd}}
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Order canceled</h5>
        </div>
        <div class="card-body">
            {{pending}}
        </div>
      </div>
    </div>
  </div>