h2{
	text-align:center;
	color:white;
}
div{
	background-color:rgba(0,0,0,.8);
	width:450px;
	height:500px;
	text-align:center;
	position:relative;
	left:400px;
}
div input{
		
		text-align:center;
}
body{
background-image:url("../img/back.jpg");
}
.frm{
	width:300px;
	margin:15px;
	padding:20px;
	background-color:rgba(0,0,0,0.8);
	color:white;
	border:1px solid #5b80a4;
	transition:5s;
	outline:none;
}
.frm:focus{
box-shadow:0px 0px 20px 6px #5b80a4;
}	
.frm_btn{
float:right;
padding:15px 50px;
border-radius:30px;
background-color:rgba(0,0,0,0.6);
color:white;
}